@import "../../style/index.css";

.uni--containers {
  padding: 0 148px;
}

.page-title {
  user-select: none;
  color: #2e3146;
  font-size: 2.3em;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 80px;
}

.poster-univ {
  /* margin-top: 110px; */
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 150px;
}

.univ-image {
  user-select: none;
  justify-content: center;
  display: flex;
  align-items: center;
}

.univ-image img {
  margin-right: 0;
  width: 470px;
}

.nome-univ {
  font-size: 32px;
  font-weight: 600;
  color: var(--dark-saturated-blue);
}

.name-univ-top {
  display: none;
}

.desc-univ {
  color: black;
  line-height: 26px;
  font-size: 20;
  max-width: 670px;
  margin: 10px 0 20px 0;
  font-weight: 300;
  text-align: justify;
}

.ruf-univ {
  text-align: center;
  width: 670px;
  height: 81px;
  border-collapse: collapse;
}

.mobile-ruf-univ {
  text-align: center;
  display: none;
  justify-content: center;
}

.ruf-vertical {
  margin-top: 25px;
}

.ruf-vertical,
.ruf-titles-vertical {
  display: flex;
  flex-direction: column;
}

.ruf-univ td,
.ruf-vertical td {
  border: 1px solid #2e3146;
  font-weight: 500;
  font-size: 16px;
}

.ruf-vertical tr {
  margin-bottom: 50px;
}

.ruf-vertical tr:nth-child(3) {
  margin-bottom: 0;
}

.ruf-vertical td {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 222px;
  height: 45px;
}

.ruf-vertical td {
  color: black;
}

.ruf-vertical td:nth-child(2) {
  border-top: none;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.ruf-vertical td:nth-child(1) {
  color: var(--dark-saturated-blue);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.ruf-titles td {
  color: var(--dark-saturated-blue);
}

.ruf-value td {
  color: black;
}

.cursos-univ {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 5% 30%;
}

.cursos-univ p {
  margin-left: 5px;
  font-weight: 500;
  font-size: 16px;
  color: black;
}

/*** responsividade ***/
@media (max-width: 1440px) {
  .univ-image img {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .uni--containers {
    padding: 0 50px;
  }
}

@media (max-width: 1300px) {
  .page-title {
    margin-bottom: 20px;
  }

  .poster-univ {
    justify-items: center;
    grid-template-columns: auto;
    margin-bottom: 50px;
  }
  .name-univ-top {
    display: flex !important;
    margin-bottom: 20px;
    font-size: 2.5em;
    justify-content: space-around;
  }
  .nome-univ {
    display: none;
  }
}

@media (max-width: 750px) {
  .ruf-univ {
    display: none;
  }

  .mobile-ruf-univ {
    display: flex;
  }

  .poster-univ {
    margin-top: 0;
  }

  .nome-univ {
    margin-top: 47px;
    margin-bottom: 50px;
    font-weight: 700;
  }

  .uni--containers {
    padding: 0 5%;
  }

  .univ-image img {
    width: 100%;
    margin-bottom: 30px;
  }

  .cursos-univ {
    margin-top: 35px;
    display: flex;
    justify-content: center;
  }
}
