@import "../../style/index.css";

.page-title {
  user-select: none;
  color: var(--dark-saturated-blue);
  font-size: 2.3em;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 80px;
}

.form--container {
  user-select: none;
  display: grid;
  place-items: center;
}

.form--container input[type="radio"] {
  cursor: pointer;
  appearance: none;
  background-color: #dbdffd;
  font: inherit;
  color: currentColor;
  width: 18px;
  height: 18px;
  border: 0.2px solid rgb(187, 187, 187);
  transition: all 250ms ease;
  border-radius: 100%;
  border: 1px solid darken(#dbdffd, 25%);
  display: inline-block;
}

.form--container input[type="radio"]:checked {
  background-color: #2e3146;
  box-shadow: inset 0 0 0 20px #2e3146;
}

.form--container input[type="radio"]:disabled {
  outline: none;
  border-color: #dbdffd;
}

.indv-container {
  text-align: justify;
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 600px;
  border-bottom: 0.4px solid #24309b59;
  margin-bottom: 38px;
}

.indv-container div {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 44px;
  margin-bottom: 7px;
}

.indv-container label {
  cursor: pointer;
  color: black;
  font-size: 18px;
  text-align: left;
  line-height: 22px;
  margin-left: 16px;
}

.question-st {
  color: black;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 20px;
}

/** Responsividade **/
@media (max-width: 1300px) {
  .page-title {
    margin-bottom: 20px;
  }
}

@media (max-width: 750px) {
  .page-title {
    margin: 48px 0;
  }
}
